.editable-row-operations a {
    margin-right: 8px;
  }
  h2{
    margin-left: 8%;
}
.saveBtn{
  margin-right: 5px;
}
nz-table{
  thead{
    tr{
      th{
        div{
          text-align: left;
        }
      }
    }
  }
  tbody{
    tr{
      td{
        text-align: left;
      }
    }
  }
}